* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-purpule: hsl(246, 80%, 60%);
  --primary-orange: hsl(15, 100%, 70%);
  --primary-blue: hsl(195, 74%, 62%);
  --primary-pink: hsl(348, 63%, 63%);
  --primary-green: hsl(145, 58%, 55%);
  --primary-purpule2: hsl(264, 64%, 52%);
  --primary-yellow: hsl(43, 84%, 65%);
  --neutral-navy-950: hsl(226, 43%, 10%);
  --neutral-navy-900: hsl(235, 46%, 20%);
  --neutral-purpule-500: hsl(235, 45%, 61%);
  --neutral-navy-200: hsl(236, 100%, 87%);
  --primary-font: "Rubik";
  --text-footer: hsl(224, 9%, 90%);
  --link-footer: hsl(228, 70%, 84%);
}

body {
  font-family: var(--primary-font), sans-serif;
  font-size: 18px;
  color: var(--text-footer);
  background-color: var(--neutral-navy-950);
}
.wrapper {
  padding: 0 10px;
}
.container {
  display: grid;
  gap: 24px;
  max-width: 320px;
  width: 100%;
  margin: 80px auto;
}

.work,
.play,
.exercise,
.study,
.social,
.self-care {
  height: 162px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.icon {
  position: relative;
  bottom: 10px;
  left: 210px;
}
.ew {
  bottom: 0px;
}
.autor {
  height: 204px;
  border-radius: 20px;
  background-color: var(--neutral-navy-900);
  color: var(--neutral-navy-200);
}
.avatar {
  width: 100%;
  height: 132px;
  background-color: var(--primary-purpule);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.img {
  border: 2px solid var(--text-footer);
  border-radius: 50%;
}
.name span {
  display: block;
}
.text {
  font-size: 14px;
  margin-bottom: 5px;
}
.name-autor {
  font-size: 24px;
  color: var(--text-footer);
}
.period {
  display: flex;
  justify-content: space-evenly;
  padding: 28px 0;
}
.daily:hover,
.weekly:hover,
.monthly:hover {
  cursor: pointer;
  color: var(--text-footer);
}

/* ****************************************************************** */

.work {
  background-color: var(--primary-orange);
}

.play {
  background-color: var(--primary-blue);
}
.study {
  background-color: var(--primary-pink);
}
.exercise {
  background-color: var(--primary-green);
}
.social {
  background-color: var(--primary-purpule);
}
.self-care {
  background-color: var(--primary-yellow);
}
.dashboard {
  width: 100%;
  height: 124px;
  background-color: var(--neutral-navy-900);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
  border-radius: 18px;
  position: absolute;
  top: 40px;
  padding: 32px 24px;
}

.current-work,
.current-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ellipsis {
  width: 22px;
  height: 5px;
}
.current,
.current-all p {
  font-size: 32px;
}
p:last-child {
  font-size: 14px;
}

/* ================  FOOTER  ============== */

footer {
  max-width: 275px;
  margin: 0 auto;
  padding: 3rem 0;
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.attribution p {
  font-weight: 600;
  color: var(--text-footer);
}

.attribution a {
  font-style: italic;
  text-decoration: none;
  color: var(--link-footer);
}

/* ================= 1024px ================   */

@media screen and (min-width: 768px) {
  .container {
    max-width: 1113px;
    grid-template-columns: repeat(3, 200px);
    place-content: center;
    margin: 10px auto;
  }
  .autor {
    grid-column: 1/4;
    height: auto;
  }

  .work,
  .play,
  .exercise,
  .study,
  .social,
  .self-care {
    height: 220px;
  }
  .icon {
    left: 112px;
  }
  .dashboard {
    height: 200px;
    top: 45px;
  }
  .current-all {
    display: block;
  }
  .current {
    font-size: 40px;
  }
}

/* ================= DESKTOP =====================  */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1113px;
    grid-template-columns: repeat(4, 260px);
    place-content: center;
    margin: 40px auto;
  }
  .autor {
    grid-column: 1/1;
    grid-row: 1 / span 2;
    height: auto;
  }
  .name-autor {
    font-size: 48px;
  }
  .avatar,
  .period {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: start;
    padding-left: 32px;
  }
  .avatar {
    height: 356px;
    gap: 48px;
  }
  .period {
    gap: 16px;
  }

  .work,
  .play,
  .exercise,
  .study,
  .social,
  .self-care {
    width: 256px;
    height: 244px;
  }
  .icon {
    left: 155px;
  }
  .dashboard {
    height: 200px;
    top: 45px;
  }
  .current-all {
    display: block;
  }
  .current {
    font-size: 60px;
  }
}
